.freebies3 {
  display: flex;
  margin: 0em;
  margin-top: 3em;
  margin-bottom: 4em;
}

.freebies-copy3 {
  flex: 1;
  margin-top: 4em;
  margin-left: 5em;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.copy-header3 {
  font-family: "Moderustic", sans-serif;
  font-size: 50px;
  margin-bottom: 1em;
}

.copy-title3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: .5em 0em;
}

.freebies-copy-text3 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0em 0em;
  margin-bottom: 1em;
  text-align: right;
}

.freebies-image3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freebies-image3 img {
  height: 35em;
}

.freebie-container3 {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: end;
}


.input-field {
  border: .5 solid #616161;
  outline: none;
  color: #616161;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 40em;
  height: 3em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  border-radius: .5em;
}

.button-field {
  width: 40em;
  margin: 0em;
  height: 3em;
  border-radius: .5em;
  
}


@media (max-width: 1000px) {
  .freebies3 {
    padding-top: 2em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .freebies-copy3 {
    margin-top: .5em;
    flex-direction: column;
    align-items: center;
    margin-left: 0em;
   
  }
  .copy-header3 {
    font-size: 30px;
    margin: .5em 0em;
  }
  .copy-title3 {
    font-size: 16px;
  }
  .freebies-copy-text3 {
    font-size: 16px;
    margin-bottom: 1em;
    text-align: center;
    padding: 0em 3em;
  }
  .freebies-image3 img {
    height: 25em;
    top: 0%;
  }
  .freebie-container3 {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 1em 0em;
  }
  .freebie-container-button3 {
    width: 100px;
    height: 50px;
    font-size: 13px;
 
  }
  .input-field{
    width: 30em;
    margin-left: 0em;
    margin-bottom: 1em;
  }
  .button-field {
    width: 10em;
    margin-left: 0em;
    height: 50px;
    font-size: 13px;
 
  }
}