
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: start;
  gap: 5%;
  padding: 3em 3em 0 0;

}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  
}

.nav-logo {
  flex: 1;
  text-align: start;
  padding-left: 5em;
 
}

.nav-logo img {
  width: 50px;
}

.nav-logo p {
  color: #ba5d53;
  font-size: 30px;
  margin-bottom: 0;
  font-family: "Raleway Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-menu1 {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #5a5a5a;
  font-size: 15px;
}


.nav-login-cart1 {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.cart-icon1 {
  width: 26px;
  cursor: pointer;
  margin-right: 20px;
}

.account-login-icon {
  width: 25px;
  font-weight: 400;
  background: white;
  color: black;
  cursor: pointer;
}

/* .account-login-icon:active {
 
} */

.nav-cart-count1 {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -28px;
  margin-left: -2.3em;
  border-radius: 11px;
  font-size: 14px;
  background-color: darkseagreen;
  color: #fff;
}

/* .nav-dropdown {
  display: none;
}  */

.mobile-navbar{
  display: none;
}

.mobile_menu {
  display: none;
}

@media (max-width: 700px) {
  .mobile-menu{
    display: inline;
  }
}