.freebies2 {
  margin-top: 3em;
  margin-bottom: 4em;
  display: flex;
  background: #dad7d5;
}

.freebies-copy2 {
  flex: 1;
  margin-right: 5em;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.copy-header2 {
  font-family: "Moderustic", sans-serif;
  font-size: 50px;
  margin: .5em 0em;
}

.copy-title2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0em 0em;
}

.freebies-copy-text2 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0em 0.5em;
  margin-bottom: 1em;
  text-align: left;
}

.freebies-image2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freebies-image2 img {
  height: 35em;
}

.freebie-container2 {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
}


.input-field {
  border: .5 solid #616161;
  outline: none;
  color: #616161;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 40em;
  height: 3em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  border-radius: .5em;
}

.button-field {
  width: 40em;
  margin: 0em;
  height: 3em;
  border-radius: .5em;
  
}


@media (max-width: 1000px) {
  .freebies2 {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .freebies-copy2 {
    margin-top: .5em;
    margin-right: 0em;
    flex-direction: column;
    align-items: center;
  }
  .copy-header2 {
    font-size: 30px;
    margin: .5em 0em;
  }
  .copy-title2 {
    font-size: 16px;
  }
  .freebies-copy-text2 {
    font-size: 16px;
    margin-bottom: 1em;
    text-align: center;
    padding: 0em 3em;
  }
  .freebies-image2 img {
    height: 25em;
  }
  .freebie-container2 {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 2em 0em;
  }
  .freebie-container-button2 {
    width: 100px;
    height: 50px;
    font-size: 13px;
 
  }
  .input-field{
    width: 30em;
    margin-left: 0em;
    margin-bottom: 1em;
  }
  .button-field {
    width: 10em;
    margin-left: 0em;
    height: 50px;
    font-size: 13px;
 
  }
  


}